<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vdm.virtualdoorman"
    android:versionCode="6"
    android:versionName="1.5">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        android:protectionLevel="signature" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.PREVENT_POWER_KEY" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.vdm.virtualdoorman.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.vdm.virtualdoorman.gcm.permission.C2D_MESSAGE" />

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon175x175"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme">
        <service android:name=".SinchService" />

        <receiver
            android:name=".gcm.GcmBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.sinch.android.rtc.sample.calling" />
            </intent-filter>
        </receiver>

        <service android:name=".gcm.GcmIntentService" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ArrivalsActivity"
            android:label="Virtual Doorman"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DaysofWeek"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity android:name=".AboutUs"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TimeofDay"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UploadImg"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".logs"
            android:label="Virtual Doorman"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />
        <activity
            android:name=".Ignorecall"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewGuest"
            android:label="@string/title_activity_view_guest"
            android:theme="@style/AppTheme">

        </activity>
        <!-- <activity -->
        <!-- android:name="com.vdm.virtualdoorman.Login" -->
        <!-- android:label="@string/app_name" > -->
        <!-- </activity> -->
        <activity
            android:name=".EditGuest"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IncomingCallScreenActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true">

            <!--  -->
        </activity>
        <activity
            android:name=".Intercom"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddPerson"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddGuestDelivery"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PickDate"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CallScreenActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OutgoingCallScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PermissionType"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PickTime"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddBusiness"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyAccount"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderKeyCards"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyBuildingContacts"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContactMyVdm"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GuestListUploadImg"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MainScreen"

            android:label="@string/app_name"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".SplashActivity"
            android:label="Virtual Doorman"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.vdm.virtualdoorman.MAINSCREEN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>


        </activity>
        <activity
            android:name=".DeliveryLogDetail"
            android:label="@string/app_name" />
        <activity
            android:name=".RedHat"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TermsandCondition"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainScreenBRZ"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoorUnlock"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewBuildingCamera"
            android:label="@string/app_name" />
        <activity
            android:name=".RingerMode"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SnapShotsList"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SingleSnapShot"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />


        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b16db6afac6528238513c520e67247abea98358d" />


    </application>

</manifest>